@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&subset=latin-ext");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

.chevron {
  padding: 0 20px; }

body {
  overflow-x: hidden; }

.container {
  width: 1418px;
  margin: 0 auto; }

.portfolio .portfolio-items {
  display: flex;
  justify-content: space-between;
  width: calc(100% + 118px);
  margin-left: -59px; }
  .portfolio .portfolio-items .portfolio-item {
    position: relative;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.13);
    padding: 14px;
    margin: 0 59px;
    width: calc((100% / 3) - 118px);
    text-align: center !important;
    border-radius: 3%;
    border: 6px solid transparent; }
    .portfolio .portfolio-items .portfolio-item .portfolio-item__heading.portfolio-item__heading--left {
      text-align: left; }
    .portfolio .portfolio-items .portfolio-item .portfolio-item__text.portfolio-item__text--left {
      text-align: left; }
    .portfolio .portfolio-items .portfolio-item .portfolio-item__heading.portfolio-item__heading--color {
      color: #fff; }
    .portfolio .portfolio-items .portfolio-item .portfolio-item__text.portfolio-item__text--color {
      color: #c4c4c4; }
    .portfolio .portfolio-items .portfolio-item .portfolio-item__image1 {
      width: 100%;
      margin-bottom: 14px; }
    .portfolio .portfolio-items .portfolio-item .portfolio-item__image2 {
      padding-top: 28px;
      margin-bottom: 40px; }
    .portfolio .portfolio-items .portfolio-item .portfolio-item__heading {
      font-weight: 700;
      font-size: 25px;
      color: #4f4e4d;
      margin-bottom: 30px; }
    .portfolio .portfolio-items .portfolio-item .portfolio-item__text {
      line-height: 30px;
      color: #8c8c8c; }
    .portfolio .portfolio-items .portfolio-item:last-of-type:after {
      display: none; }
    .portfolio .portfolio-items .portfolio-item:after {
      position: absolute;
      content: '\f105';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      font-size: 30px;
      border-radius: 50%;
      height: 49px;
      width: 49px;
      top: 50%;
      color: #fff;
      background-color: #dcdcdb;
      transform: translateY(-50%);
      right: -84px;
      display: flex;
      justify-content: center;
      align-items: center; }
  .portfolio .portfolio-items .portfolio-item-png1 {
    border: 2px solid #e8e8e8;
    padding: 18px; }
    .portfolio .portfolio-items .portfolio-item-png1 .portfolio-item__image2h {
      display: none; }
  .portfolio .portfolio-items .portfolio-item-png2 {
    border: 2px solid transparent;
    background: url("../img/Bez-nazwy-4.jpg");
    background-size: cover;
    background-clip: padding-box;
    position: relative; }
    .portfolio .portfolio-items .portfolio-item-png2:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -2px;
      border-radius: inherit;
      background: linear-gradient(-36deg, #3626f7 0%, #310fba 100%); }

.portfolio .more {
  text-align: center;
  margin-top: 82px; }
  .portfolio .more .button {
    padding: 22px 72px 23px 73px;
    font-size: 25px;
    color: #6f32f8;
    background-color: #fff;
    border-radius: 3%;
    border: 2px solid transparent;
    background-clip: padding-box;
    position: relative; }
    .portfolio .more .button:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -2px;
      border-radius: inherit;
      background: linear-gradient(-36deg, #3626f7 0%, #310fba 100%); }

.hover1 {
  background-clip: padding-box;
  position: relative !important;
  background-color: #fff;
  border: 6px solid transparent !important; }
  .hover1:before {
    content: '';
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -6px;
    border-radius: inherit;
    background: linear-gradient(135deg, #7f37f5 0%, #1bd4db 50%, #7f37f5 100%); }

.hover2 {
  display: inline-block !important;
  padding-top: 28px;
  margin-bottom: 40px; }

.hover3 {
  display: none !important; }

.hover4 {
  background: linear-gradient(145deg, #c165dd 0%, #5c27fe 100%); }
  .hover4:before {
    background: linear-gradient(-36deg, #c82cf8 0%, #5c27fe 100%); }

.hover5 {
  color: #fff !important; }

.hover6 {
  color: #c4c4c4 !important; }

.hover7:before {
  background: linear-gradient(-36deg, #3626f7 0%, #310fba 100%); }
